@tailwind base;
@tailwind components;
@tailwind utilities;


.bgCover {
    background-image: hidden;
}

.dropMenu {
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropMenu::-webkit-scrollbar {
    overflow-y: hidden;
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dropMenu {
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .homeBg{
    background-image: url('../../public/assets/publicImages/coverBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
